 # [include gab-3d-utilities.cfg]
# [include shell_command.cfg]
# [include moonraker_obico_macros.cfg]
[include mainsail.cfg]
[include M8P.cfg]
[include EBB36.cfg]
[include Macro.cfg]
[include klicky-probe.cfg]
[include KAMP_Settings.cfg]
[include K-ShakeTune/*.cfg]
[include Resonance_Tap_Test.cfg]
[include OrbiterSensor.cfg]

[mcu CB1]
serial: /tmp/klipper_host_mcu

[temperature_sensor CB1]
sensor_type: temperature_host

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 20, 30
mesh_max: 210, 190
probe_count: 5,3

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[firmware_retraction]
retract_length: 1.2
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 120
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 120
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[delayed_gcode tool_LED]
initial_duration: 1.
gcode:
  SET_FAN_SPEED FAN=electronic_fan1 SPEED=0.6
  SET_FAN_SPEED FAN=electronic_fan2 SPEED=0.6
  SET_LED LED="hotend_rgb" RED=0.6667 GREEN=0.3922 BLUE=1 SYNC=0 TRANSMIT=1

[resonance_tester]
accel_chip: adxl345
probe_points:
    115, 115, 20

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash /home/biqu/printer_data/klipper-backup/script.sh
timeout: 120.0
verbose: True

[input_shaper]
shaper_freq_x: 67.6 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
shaper_freq_y: 62 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
damping_ratio_x: 0.059 # damping ratio for the X axis
damping_ratio_y: 0.058 # damping ratio for the Y axis

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.044375, -0.043750, -0.131875, -0.177500, -0.136875
#*# 	  0.155000, 0.044375, -0.010625, 0.004375, 0.093125
#*# 	  0.172500, 0.113125, 0.177500, 0.273125, 0.412500
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 205.0
#*# min_y = 30.0
#*# max_y = 190.0
#*#
#*# [probe]
#*# z_offset = 7.550
